<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>checkout</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>




<ion-item>

<ion-label color="primary" class="total">RM 20</ion-label>

  <ion-label position="stacked">Name</ion-label>
  <ion-input></ion-input>

  <ion-label position="stacked">Phone No</ion-label>
  <ion-input></ion-input>

  <ion-label position="stacked">Email Address</ion-label>
  <ion-input></ion-input>

  </ion-item>


</ion-content>

  <ion-footer>
  <ion-button buttonFixed color="tertiary" expand="block">SUBMIT</ion-button>
  </ion-footer>